@model IEnumerable<CadastroUsuarios.Models.Users>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - RegistrarUsuarios</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/RegistrarUsuarios.styles.css" asp-append-version="true" />
</head>
<body>

	<div class="text-center">
		<div class="container">
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a class="btn btn-primary" role="button" asp-controller="Users" asp-action="TotalUsersCount">Contar Total de Usuários</a>
				<a class="btn btn-primary" asp-controller="Users" asp-action="Create" role="button">Adicionar novo usuário</a>
			</div>
			<h2 class="display-4">Lista de Usuários</h2>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">E-mail</th>
						<th scope="col">Celular</th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model)
					{
						<tr>
							<td>@user.Nome</td>
							<td>@user.Email</td>
							<td>@user.Telefone</td>
							<td>
								<div class="btn-group" role="group">
									<a class="btn btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Editar</a>
									<form method="post" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" style="display:inline;">
										<button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja apagar este usuário?');">Apagar</button>
									</form>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

@{
}
